@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,900;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
ul {
  display: flex;
  gap: 30px;
}
li {
  list-style: none;
  font-size: 16px;
  line-height: 100%;
  color: #333333;
}
/* header styles starts */
.header {
  padding: 30px 0;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__bottom {
  padding: 20px 0;
  display: flex;
  align-items: center;
}
.header__form {
  display: flex;
  gap: 10px;
  margin-right: 25px;
}
.header__search {
  background-color: #f6f6f6;
  padding: 13px;
  width: 761px;
  border: none;
  font-size: 16px;
  line-height: 120%;
  border-radius: 8px;
}
.header__btn {
  background-color: #ffffff;
  border-radius: 0 10px 10px 0;
  padding: 10px;
  width: 300px;
  border: 2px solid #f6f6f6;
  color: #a65cf0;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__img {
  margin-right: 20px;
}
/* header styles ends */
/* home styles starts */
.home {
  padding: 40px 0;
  background-image: url(../images/home-bg.svg);
  height: 400px;
}
.home__title {
  font-size: 48px;
  line-height: 130%;
  font-weight: 700;
  color: #999999;
  width: 496px;
  margin-bottom: 35px;
}
.home__btn {
  background-color: #a65cf0;
  padding: 22px 47px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 16px;
  transition: all 0.3s ease;
}
.home__btn:hover {
  background-color: #fff;
  border: 2px solid #a65cf0;
  color: #a65cf0;
  font-weight: 700;
}
/* home styles ends */
/* shop styles starts */
.shop {
  padding: 40px 0;
}
.shop__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shop__title {
  color: #333333;
  font-size: 32px;
  line-height: 100%;
  font-weight: 400;
}
.shop__top--img {
  margin-right: 20px;
}
.shop__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.shop__card1 {
  background-color: #f6f6f6;
  padding: 80px 10px;
  text-align: center;
  border-radius: 6px;
  width: 296px;
  height: 511px;
  line-height: 250%;
}
.shop__card2 {
  background-color: #f6f6f6;
  padding: 80px 10px;
  text-align: center;
  border-radius: 6px;
  width: 624px;
  height: 511px;
  line-height: 200%;
}
.shop__card3 {
  background-color: #f6f6f6;
  padding: 80px 10px;
  text-align: center;
  border-radius: 6px;
  width: 296px;
  height: 511px;
  line-height: 250%;
}
.shop__card--img1 {
  position: absolute;
  top: 700px;
  left: 120px;
}
.shop__card--img2 {
  position: absolute;
  top: 700px;
  left: 449px;
}
.shop__card--img3 {
  position: absolute;
  top: 700px;
  left: 1105px;
}
.shop__card--title {
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  width: 225px;
}
.shop__card--p {
  color: #ff862f;
  font-size: 18px;
}
.shop__card--del {
  color: #999999;
  font-size: 16px;
}
.shop__card--btn {
  border: 2px solid #a65cf0;
  color: #a65cf0;
  background: none;
  padding: 19px 35px;
  border-radius: 10px;
  font-size: 16px;
}
.shop__box {
  display: flex;
  justify-content: space-between;
}

.shop__bottom--cards {
  display: flex;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.shop__bottom--card {
  background-color: #f6f6f6;
  width: 296px;
  height: 420px;
  line-height: 250%;
  padding: 10px 10px;
  border-radius: 10px;
}
.shop__bottom--card1 {
  background-color: #f6f6f6;
  width: 296px;
  height: 420px;
  line-height: 280%;
  padding: 10px 10px;
}
.shop__card--star {
  margin: 10px 20px;
}
.shop__bottom--title {
  margin: 30px 0;
  color: #333333;
  font-size: 32px;
  line-height: 100%;
  font-weight: 400;
}
.shop__card--btn1 {
  margin-top: 60px;
}
.shop__card--btn3 {
  margin-top: 38px;
}
.shop__card--btn4 {
  margin-top: 25px;
}
.shop__card--btn5 {
  margin-top: 25px;
}
.shop__card--btn6 {
  margin-top: 15px;
}
.shop__card--btn7 {
  margin-top: 25px;
}
.shop__card--btn8 {
  margin-top: 25px;
}
.shop__btn {
  margin-left: 460px;
}
/* shop styles ends */
/* hero styles starts */
.hero {
  padding: 40px 0;
  background-image: url(../images/hero.svg);
  height: 600px;
}
.hero__wrapper {
  margin-top: 90px;
}
.hero__span {
  color: #d5b986;
  font-family: "Playfair Display", serif;
  font-size: 60px;
}
.hero__title {
  width: 508px;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}
.hero__btn {
  background-color: #a65cf0;
  padding: 22px 47px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  margin-top: 40px;
  border: none;
  transition: all 0.3s ease;
}
.hero__btn:hover {
  background: none;
  border: 2px solid #a65cf0;
  color: #a65cf0;
  font-weight: 700;
}
/* hero styles ends */
/* category styles starts */
.category {
  padding: 40px 0;
}
.category__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category__top--card {
  background-color: #f6f6f6;
  padding: 20px 0;
  border-radius: 10px;
  width: 515px;
  line-height: 300%;
  width: 624px;
}
.category__card--descriptions {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: 30px;
}
.category__card--description {
  font-size: 14px;
  color: #999999;
}
.category__card--title {
  font-size: 24px;
  color: #333333;
  margin-left: 30px;
}
.category__link {
  color: #a65cf0;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  margin-left: 30px;
}
.category__link > img {
  width: 22px;
  height: 22px;
}
.category__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.category__bottom--card {
  background-color: #f6f6f6;
  width: 405px;
  border-radius: 10px;
  line-height: 250%;
  padding: 10px 0;
}
/* category styles ends */
